

/****************************************************
*                     BLOCK                         *
****************************************************/
.footer {
  background-color: $primary-color;
  color:            white;
  font-size:        map-get($font-sizes, 'medium');
  font-weight:      map-get($font-weights, 'medium');
  height:           12rem;
  text-align:       center
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/

/**************************************************
*                     MODIFIERS                   *
***************************************************/
.footer--admin {
  background-color: $admin-footer-color;
}
