
/****************************************************
*                     BLOCK                         *
****************************************************/
// .header {
//   @include bg-gradient(to top, $widget-top-color, darken($widget-top-color, 5%));
//   color:          #6b717f;
//   display:          flex;
//   flex-direction:   row;
//   justify-content: space-around;
// }
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.header__title {
  font-size:        font-size(large);
  font-weight:      font-weight(medium);
};

.header__sub-title {
  font-size:        font-size(mediu);
  font-weight:      font-weight(thin);
};

.header__link {
  font-size: 1.5rem;
  color: white;
};
/**************************************************
*                     MODIFIERS                   *
***************************************************/
.header--user{
  @include bg-gradient(to top, rgb(62, 60, 163), darken(rgb(62, 60, 163), 5%));
}
