//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(45, 67, 168);
}

/****************************************************
*                     ELEMENTS                      *
****************************************************/
.article__image {
}

.article__subTitle {
}

.article__title {
}

.article__textBody {
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
// ADMIN
.article--admin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: $article-admin-width-default;
  // height: $article-admin-height-default;
  font-size: $article-admin-font-size-default;
  cursor: pointer;
    .article__title--admin {

    }

    .article__subTitle--admin {

    }

    .article__textBody--admin {

    }

    .article__image--admin {
      width: 7rem;
    }

}

.article--admin--folded {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: $article-admin-width-default;
  // height: $article-admin-height-default;
  cursor: pointer;
    .article__title--admin {
    }

    .article__subTitle--admin {
      display: none;
    }

    .article__textBody--admin {
      display: none;
    }

    .article__image--admin {
      display: none;
    }

}
