//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.avatar {
	position: absolute;
	margin-left: 35%;
	margin-top: 30%;
  // width: $avatar-width-default;
  // height: $avatar-height-default;
  // font-size: $avatar-font-size-default;
  // margin-bottom: 6rem;
}

/****************************************************
*                     ELEMENTS                      *
****************************************************/
.avatar__img {
  width: 100%;
  border-radius: 1rem;
}

.avatar__img--uploaded {
  width: 20rem;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
.avatar--uploaded {
  border-color: red;
}
//======================== STATE =================//


//======================== SIZE =================//
.avatar--medium {
  width: $avatar-width-default;
  // height: $avatar-height-default;
}
.avatar--small {
  width: value-modifier($avatar-width-default, -20%);
}
