//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
#btn-connect {
  // width: 3rem;
  // font-size: 1.5rem;
  border: none;
	// padding: 0.4rem 1rem;
}

#btn-create-account {
  // width: 3rem;
  // font-size: 1.5rem;
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
	// padding: 0.4rem 1rem;
}

#btn-disconnect {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 2rem;
  border: none;
}

#btn__delete-account {
  margin-left: 65%;
  margin-top: 2%;
}

#btn__change-password {
  margin-left: 65%;
  margin-top: 2%;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/

/**************************************************
*                     MODIFIERS                   *
***************************************************/
