//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/

.button {
  background-color: $btn-bg-color-standard;
  border-bottom: $btn-border-default solid;
  border-radius: 0 0 0.2rem;
  border-right: $btn-border-default solid;
  border: none;
  color: $btn-font-color-standard;
  font-size: 0.7rem;
  max-width: 25rem;
  font-weight: font-weight(medium);
  margin: $btn-margin-default;
  padding: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 0rem;

  &:hover {
    cursor: pointer;
  }
}
::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}
:-moz-placeholder {
    color: red;
    font-weight: bold;
}
:-ms-input-placeholder {
    color: red;
    font-weight: bold;
}

.button--input-file {
  position: relative;
  text-align: center;
  font-size: 1rem;
  width: 7rem;
  background-color: $btn-bg-color-link;
  color: set-text-color($btn-bg-color-link);
  border-color: darken($btn-bg-color-link, 5%);
  font-weight: 300;
  margin: 0;
  &:hover {
    background-color: make-hover-color($btn-bg-color-link);
    color: set-text-color($btn-bg-color-link);
  }
  &:active {
    background-color: make-focus-color($btn-bg-color-link);
    color: set-text-color($btn-bg-color-link);
  }
  &:focus {
    outline: none;
    background-color: make-focus-color($btn-bg-color-link);
    color: set-text-color($btn-bg-color-link);
  }
  input {
    top: -9px;
    right: -9px;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

/****************************************************
*                     ELEMENTS                      *
****************************************************/

//------------------ STATUS Button -----------------//
.button__status {
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem 0 0 0.5rem;
  color: white;
  opacity: 0.5;
  padding: 0.2rem 0.8rem;
}
//------------------ TEXT Button -----------------//
.button__text {
  padding: 0 10px;
  margin: 0;
}

/**************************************************
*                     MODIFIERS                   *
***************************************************/

//======================== STATE =================//

//---------------- DISABLED Button --------------//
.button--disabled {
  background-color: rgb(39, 39, 39) !important;
  border: none;
  cursor: default !important;
  opacity: 0.2;
}

//======================== SIZE =================//

//------------ VERY-BIG Button ------------------//
.button--very-big {
  font-size: value-modifier($btn-font-size-default, +50%);
  font-weight: value-modifier($btn-font-weight-default, +200);
}
//---------------- BIG Button -------------------//
.button--big {
  font-size: value-modifier($btn-font-size-default, +25%);
  font-weight: value-modifier($btn-font-weight-default, +100);
}
//---------------- MEDIUM Button ----------------//
.button--medium {
  font-size: $btn-font-size-default;
  font-weight: $btn-font-weight-default;
  max-width: 13rem;
  max-height: 5rem;
}
//---------------- SMALL Button -------------------//
.button--small {
  font-size: value-modifier($btn-font-size-default, -25%);
  font-weight: value-modifier($btn-font-weight-default, -100);
  width: value-modifier($btn-width-default, -20%);
  max-width: 11rem;
  max-height: 3rem;
}
//-------------- VERY-SMALL Button ----------------//
.button--very-small {
  font-size: value-modifier($btn-font-size-default, -20%);
  font-weight: value-modifier($btn-font-weight-default, -200);
}
//======================== SPACE =================//
//------------ WRAPPED Button ------------------//
.button--expanded {
  width: 100%;
  margin: 0;
}
//======================== COLOR =================//

//----------------- MAIN Button ----------------//
.button--main {
  background-color: $btn-bg-color-main;
  color: set-text-color($btn-bg-color-main);
  border-color: darken($btn-bg-color-main, 5%);

  &:hover {
    background-color: make-hover-color($btn-bg-color-main);
    color: set-text-color($btn-bg-color-main);
  }
  &:active {
    background-color: make-focus-color($btn-bg-color-main);
    color: set-text-color($btn-bg-color-main);
  }
  &:focus {
    outline: none;
    background-color: make-focus-color($btn-bg-color-main);
    color: set-text-color($btn-bg-color-main);
  }
}
//---------------- WARNING Button -----------------//
.button--warning {
  background-color: $btn-bg-color-warning;
  color: set-text-color($btn-bg-color-warning);
  border-color: darken($btn-bg-color-warning, 5%);

  &:hover {
    background-color: make-hover-color($btn-bg-color-warning);
    color: set-text-color($btn-bg-color-warning);
  }
  &:active {
    background-color: make-hover-color($btn-bg-color-warning);
    color: set-text-color($btn-bg-color-warning);
  }
  &:focus {
    outline: none;
    background-color: make-focus-color($btn-bg-color-warning);
    color: set-text-color($btn-bg-color-warning);
  }
}

//-------------- INFORMATION Button -------------//
.button--information {
  background-color: $btn-bg-color-information;
  color: rgb(80, 80, 80);
  border-color: darken($btn-bg-color-information, 15%);

  &:hover {
    background-color: darken($btn-bg-color-information, 10%);
    color: rgb(34, 34, 34);
  }
  &:active {
    background-color: make-hover-color($btn-bg-color-information);
    color: set-text-color($btn-bg-color-information);
  }
  &:focus {
    background-color: make-hover-color($btn-bg-color-information);
    color: set-text-color($btn-bg-color-information);
  }
}
//----------------- LINK Button ----------------//
.button--link {
  background-color: $btn-bg-color-link;
  color: set-text-color($btn-bg-color-link);
  border-color: darken($btn-bg-color-link, 5%);
  &:hover {
    background-color: make-hover-color($btn-bg-color-link);
    color: set-text-color($btn-bg-color-link);
  }
  &:active {
    background-color: make-focus-color($btn-bg-color-link);
    color: set-text-color($btn-bg-color-link);
  }
  &:focus {
    outline: none;
    background-color: make-focus-color($btn-bg-color-link);
    color: set-text-color($btn-bg-color-link);
  }
}

.button--selected {
  background-color: hsl(210, 80%, 35%);
    &:hover {
      background-color: make-hover-color(hsl(210, 80%, 35%));
      color: set-text-color(hsl(210, 80%, 35%));
    }
    &:active {
      background-color: make-hover-color(hsl(210, 80%, 35%));
      color: set-text-color(hsl(210, 80%, 35%));
    }
    &:focus {
      outline: none;
      background-color: make-focus-color(hsl(210, 80%, 35%));
      color: set-text-color(hsl(210, 80%, 35%));
    }
}
