//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.card {
  // width: 80rem;
}
.card-avatar {
  width: 15rem;
}

/****************************************************
*                     ELEMENTS                      *
****************************************************/

/**************************************************
*                     MODIFIERS                   *
***************************************************/
#card--small {
  width:10rem;
}

#textarea-msg {
  height: 50vh;
}
