//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.card {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // border: 2px solid rgb(45, 67, 168);

}

/****************************************************
*                     ELEMENTS                      *
****************************************************/
.main-card__title {
  margin-bottom: 2rem;
}

.main-card__pseudoName {
  margin: 1rem;
}

.main-card__email {
  margin: 1rem;
}

.card-title {
  font-weight: 500;
  font-size: 1rem;
}

.list-group li {
  cursor: pointer;
}

/**************************************************
*                     MODIFIERS                   *
***************************************************/
.main-card--hidden {
  display: none;
}

.main-card--clickable {
  cursor: pointer;
}

.main-card--message-saved {
    flex-direction: column;
}

#font-height {
  line-height: 1.5rem;
}

//======================== STATE =================//


//======================== SIZE =================//
