//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.container {

}


/****************************************************
*                     ELEMENTS                      *
****************************************************/
.container__page {

}

#container__settings {
  margin: 0 10rem;
  margin-top: 5rem;
}

.collapse-transition {
  transition: display 3s;
}

#root-comp {
  min-height: 100vh;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/

//======================== STATE =================//


//======================== SIZE =================//
.container--center-content {
  display: flex;
  flex-direction: row;
}
