
/****************************************************
*                     BLOCK                         *
****************************************************/
.counter-unread {
  z-index: 100;
  font-size: 0.8rem;
  right: 0;
  top: 0;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsl(202, 34%, 69%);
  width: 13rem;
  border-radius: 1rem;
  height: 5rem;
  margin: 0;
  padding: 1rem;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.counter-unread__number {
  font-size: 1rem;
  color: hsl(5, 53%, 53%);
  margin: 0;
}
.counter-unread__title {
  font-size: 1.4rem;
  font-weight: 400;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
