//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.create-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1vh;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/

/**************************************************
*                     MODIFIERS                   *
***************************************************/
