//value-modifier est une fonctions créer situé dans Abstract folder
/****************************************************
*                     BLOCK                         *
****************************************************/
.drop-zone {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  background-color: none;
  color: black;
  border-width: $drop-zone-border-width-default;
  border-style: $drop-zone-border-style-default;
  border-color: $drop-zone-border-color-default;
  padding: 0.2rem 0.8rem;
  font-family: $primary-fonts-family;

  &:hover {
    background-color: darken($drop-zone-main-color, 10%);
    cursor: pointer;
  }

}


/****************************************************
*                     ELEMENTS                      *
****************************************************/
.drop-zone__title {

}

.drop-zone__subTitle {

}
/**************************************************
*                     MODIFIERS                   *
***************************************************/

//======================== SIZE =================//

.drop-zone--big {
  font-size     : value-modifier($drop-zone-font-size-default, +50%);
  font-weight   : value-modifier($drop-zone-font-weight-default, +200);
  width         : value-modifier($drop-zone-width-default, +20%);
  height        : value-modifier($drop-zone-heigh-default, +200);
}
.drop-zone--medium {
  font-size     : $drop-zone-font-size-default;
  font-weight   : $drop-zone-font-weight-default;
  width         : $drop-zone-width-default;
  height        : $drop-zone-heigh-default;
}
.drop-zone--small {
  font-size     : value-modifier($drop-zone-font-size-default, -20%);
  font-weight   : value-modifier($drop-zone-font-weight-default, -200);
  width         : value-modifier($drop-zone-width-default, -20%);
  height        : value-modifier($drop-zone-heigh-default, -200);
}

//======================== COLORS =================//

//----------------- UPLOAD image Drop Zone ----------------//

.drop-zone--upload-completed {
  background-color: $drop-zone-color-completed;
  color: set-text-color($drop-zone-color-completed);

  &:hover {
    background-color: darken($drop-zone-color-completed, 10%);
    color: set-text-color($drop-zone-color-completed);
  }
  &:active {
    background-color: make-focus-color($drop-zone-color-completed);
    color: set-text-color($drop-zone-color-completed);
  }
  &:focus {
    outline: none;
    background-color: make-focus-color($drop-zone-color-completed);
    color: set-text-color($drop-zone-color-completed);
  }
}
