//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.error-msg {
  color: red;
  font-size: 1.1rem;
}

/****************************************************
*                     ELEMENTS                      *
****************************************************/


/**************************************************
*                     MODIFIERS                   *
***************************************************/
.error-msg--white {
  color: white;
}
//======================== STATE =================//


//======================== SIZE =================//
