//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.image-card {
  width: $image-card-width-default;
  border-radius: 1em;
  border-color: hsl(0, 0%, 57%);
  border-width: .1em;
  border-style: solid;

}

/****************************************************
*                     ELEMENTS                      *
****************************************************/
.image-card__img {
  width: 100%;
  border-width: medium;
}

/**************************************************
*                     MODIFIERS                   *
***************************************************/

//======================== STATE =================//


//======================== SIZE =================//
