//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.mail-form {
  background-color: hsl(20, 25%, 83%);
  display: flex;
  flex-direction: column;
  align-items: center;
  textarea {
    width: 50rem;
    height: 30rem;
    text-align: center;
  }
  input {
    margin-left: 13rem;
  	text-align: center;
  	width: 26rem;
  	height: 4rem;
      &::-webkit-input-placeholder {
        text-align: center;
        font-size: 1rem;
        font-weight: 200;
      }
      &:-moz-placeholder { /* Firefox 18- */
        text-align: center;
        font-size: 1rem;
        font-weight: 200;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
        font-size: 1rem;
        font-weight: 200;
      }
      &:-ms-input-placeholder {
        text-align: center;
        font-size: 1rem;
        font-weight: 200;
      }
    }
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.mail-form__input {
	display: flex;
	flex-direction: column;
  align-items: center;
	width: 54rem;
	height: 57rem;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
