//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.mailbox {
  display: flex;
  flex-direction: column;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.mailbox {

}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
