
/****************************************************
*                     BLOCK                         *
****************************************************/
.mails-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(236, 18%, 83%);
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.mails-list__item {
  display: flex;
  flex-direction: row;
}
.mails-list__title {
  font-size: 1.6rem;
  cursor: pointer;
}

/**************************************************
*                     MODIFIERS                   *
***************************************************/
