/****************************************************
*                     React-Modal                   *
****************************************************/

// Nom de classe venant de la libraire react-modal NE PAS MODIFIER
// Utiliser pour la transition seulement
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  z-index: 1000;
  // padding: 70 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.ReactModal__Content .ReactModal__Content--after-open {
  // padding: 70;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity:            1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity:            0;
}

/****************************************************
*                     Modals                        *
****************************************************/

// Classe définie par nous-meme dans le component.js
.modal-open {
  // align-items:        center;
  // display:            flex;
    .form-signin {
      width: 100%;
      max-width: 570px;
      // padding: 70 0;
      margin: auto;
    }

    .form-control {
      height: 4rem;
      margin-bottom: 2rem;
      // font-size: 2rem;
    }

}

.modal__email {
  height: 3rem;
  // font-size:          font-size(large);
  // font-weight:        font-weight(medium);
  // margin:             0 0 margin(xsmall) 0;
  // text-align:         center;
}

.modal__password {
  margin-bottom: 2rem;
  // font-size:          font-size(large);
  // font-weight:        font-weight(medium);
  // margin:             0 0 margin(xsmall) 0;
  // text-align:         center;
}


.modal__form {
  width: 100%;
  // font-size:          font-size(medium);
  // font-weight:        font-weight(thick);
  // text-transform:     uppercase;
}

.modal__title {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 600;
  // font-size:          font-size(medium);
  // font-weight:        font-weight(thick);
  // text-transform:     uppercase;
}

.modal__checkbox-text {
  font-size: 1.5rem;
}

form .modal__button-return {
  padding: .5rem 2rem;
  margin-right: 4rem;
  // font-size: 2rem;
  font-weight:400;
  margin-top: 3rem;
}

form .modal__button-connect {
  padding: .5rem 2rem;
  margin-right: 4rem;
  // font-size: 2rem;
  font-weight:400;
  margin-top: 3rem;
}

form .modal__checkbox {
  margin-right: 1rem;
}
