//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.navbar {
@include bg-gradient(to top, $widget-top-color, darken($widget-top-color, 5%));
}

/****************************************************
*                     ELEMENTS                      *
****************************************************/
.nav-link {
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;

  &:hover {
    color: #9dc6f2;
  }
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
