/****************************************************
*                     BLOCK                         *
****************************************************/
.send-mail {
  display: flex;
  flex-direction: column;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.send-mail__user-preview {
  cursor: pointer;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
