//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.settings-page {
  display: flex;
  flex-direction: column;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.settings-page__delete-account {
  border-radius: 1rem;
  margin: 1rem;
  background-color: hsl(330, 24%, 92%);
  padding: 2rem;
}
.settings-page__change-password {
  background-color: hsl(0, 21%, 95%);
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
