//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/

.Toastify__toast-body {
  display: flex;
  align-items: center;
  text-align: center;
  height: 6rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/****************************************************
*                     ELEMENTS                      *
****************************************************/

/**************************************************
*                     MODIFIERS                   *
***************************************************/
