//value-modifier est une fonctions créer situé dans Abstract folder
/****************************************************
*                     BLOCK                         *
****************************************************/
.users-list {
  background-color: hsl(232, 23%, 87%);
  border-radius: 1rem;
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.users-list__image {
  width: 4rem;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
