//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.user-preview {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	width: 32rem;
	height: 8rem;
  margin: 2rem;
  background-color: hsl(0, 3%, 88%);
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.user-preview__avatar {
  width: 1rem;
  display: flex;
  flex-direction: column;
}
.user-preview__img {
  width: 4rem;
  border-radius: 1rem;
}

.user-preview__title {
  font-size: 3rem;
  margin-right: 6rem;
}

/**************************************************
*                     MODIFIERS                   *
***************************************************/
.user-preview--hidden {
  cursor: pointer
}
