//value-modifier est une fonctions créer situé dans Abstract folder

/****************************************************
*                     BLOCK                         *
****************************************************/
.user-finder {
  display: flex;
  flex-direction: row;
  justify-content: center;
    input {
      margin: 1rem;
      text-align: center;
        &::-webkit-input-placeholder {
          text-align: center;
          font-size: 1rem;
          font-weight: 200;
        }
        &:-moz-placeholder { /* Firefox 18- */
          text-align: center;
          font-size: 1rem;
          font-weight: 200;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          text-align: center;
          font-size: 1rem;
          font-weight: 200;
        }
        &:-ms-input-placeholder {
          text-align: center;
          font-size: 1rem;
          font-weight: 200;
        }
    }
}
/****************************************************
*                     ELEMENTS                      *
****************************************************/
.user-finder__user-list {
  cursor: pointer;
  display: flex;
  justify-content: row;
}
/**************************************************
*                     MODIFIERS                   *
***************************************************/
