.widget-top-page {
  @include bg-gradient(to top, $widget-top-color, darken($widget-top-color, 5%));
  color:              set-text-color($widget-top-color);
  font-size:          font-size(medium);
  height:             height(small);
  margin:             0;
  min-width:          100%;
  text-align:         center;
  max-height:       3em;
  };

.widget-top-page__title {
  font-weight:        font-weight(medium);
  margin: 0;
}
