/****************************************************
*                     COLORS                        *
****************************************************/

/**
 * Met la couleur du texte en noir ou en blanc en fonction de la couleur du bg
 * @param {String} couleur du bg - format acceptés: hsla, rgb, #
 * @return {String} #couleur du texte blanc ou noir (pure)
 */

/// Créer un simple linear-background css avec compatibilité navigateurs
/// @param  {*} $angle avec les unités a fournir
/// @param  {*} $color1 couleur 1 - format acceptés: hsla, rgb, #
/// @param  {*} $color2 couleur 2 - format acceptés: hsla, rgb, #
/// @return {*} #couleur du texte blanc ou noir (pure)

@function set-text-color($background-color) {

  @if (lightness($background-color) > 50) {
    @return #000;

  } @else {
    @return #fff;
  }
}

//===================================================
/// Modifie finement la couleur avec un scale-color pour HOVER
/// @param  {*} $color la couleur à modifier
/// @return {*} $color la couleur modifiée
/**
 *
 * @param {hsla color}
 * @return {hsla color}
 */
@function make-hover-color($color) {
  $color: scale-color(
    $color,
    $hue: + 2,
    $saturation: + 10%,
    $lightness: + 15%,
    $alpha: + 0.1
  );

  @return $color;
}

//===================================================
 /// Donne un aspect très très leger a une couleur (alpha)
 /// @param  {color} couleur à modifier
 /// @return {color} couleur modifiée

@function make-cloudy-color($color) {

  $color: scale-color(
    $color,
    $alpha: - 95%
  );

  @return $color;
}


/****************************************************
*                     MANIPULATION  MAPS            *
****************************************************/

/// Permet de créer le scss associé à une map
/// @param  {key} map voulu
/// @return {value} toutes les valeurs de la map

@mixin print($declarations) {
  @each $property, $value in $declarations {
    #{$property}: $value
  }
}

/// Permet de récuperer PADDING de la map
/// @param  {key} prop voulu
/// @return {value} valeur de la propriété
@function padding($layer) {
  @return map-get($paddings, $layer);
}

/// Permet de récuperer WIDTH de la map
/// @param  {key} prop voulu
/// @return {value} valeur de la propriété
@function width($layer) {
  @return map-get($widths, $layer);
}

/// Permet de récuperer MARGIN de la map
/// @param  {key} prop voulu
/// @return {value} valeur de la propriété
@function margin($layer) {
  @return map-get($margins, $layer);
}

/// Permet de récuperer HEIGHT de la map
/// @param  {key} prop voulu
/// @return {value} valeur de la propriété
@function height($layer) {
  @return map-get($heights, $layer);
}

/// Permet de récuperer Font-size de la map
/// @param  {key} prop voulu
/// @return {value} valeur de la propriété
@function font-size($layer) {
  @return map-get($font-sizes, $layer);
}

/// Permet de récuperer Font-size de la map
/// @param  {key} prop voulu
/// @return {value} valeur de la propriété
@function font-weight($layer) {
  @return map-get($font-weights, $layer);
}

/****************************************************
*                     MANIPULATION                  *
****************************************************/

@function value-modifier($value, $amount) {
  $result: calc(#{$value}  + #{$amount});
  @return $result;
}
