/****************************************************
*                     COLORS                        *
****************************************************/

 /**
 * Met la couleur du texte en noir ou en blanc en fonction de la couleur du bg
 * @param {String} couleur du bg - format acceptés: hsla, rgb, #
 * @return {String} #couleur du texte blanc ou noir (pure)
 */
/// Créer un simple linear-background css avec compatibilité navigateurs
/// @param {*} $angle avec les unités a fournir
/// @param {*} $color1 couleur 1 - format acceptés: hsla, rgb, #
/// @param {*} $color2 couleur 2 - format acceptés: hsla, rgb, #


@mixin bg-gradient ($angle, $color1, $color2) {
    background: $color1; 
    background: -webkit-linear-gradient($angle, $color1 ,$color2);
    background: linear-gradient($angle, $color1, $color2);  
    }; 

 