/****************************************************
*                     COLORS                        *
****************************************************/

//----------------- Theme Colors -----------------//
$primary-color         : hsl(330, 68%, 82%);
$widget-top-color      : hsl(210, 100%, 20%);
//----------------- Theme Admin Colors -----------------//
$admin-footer-color    : hsl(248, 64%, 38%);
$admin-header-color    : hsl(228, 63%, 27%);
//----------------- Modals Colors ---------------//
$widget-focus          : hsl(270, 26%, 12%);
$modal-focus-bg-color  : hsl(227, 21%, 49%);
$widget_focus-padding  : 6rem;
/****************************************************
*                     Spacings                      *
****************************************************/
// Paddings
$paddings: (
    xlarge : 8.0rem,
    large  : 5.5rem,
    medium : 4.2rem,
    small  : 3.0rem,
    xsmall : 2.0rem
);
// Margins
$margins: (
    xlarge : 8.0rem,
    large  : 5.5rem,
    medium : 4.2rem,
    small  : 3.0rem,
    xsmall : 2.0rem
);
// Widths
$widths: (
    xlarge : 50rem,
    large  : 30rem,
    medium : 20rem,
    small  : 10rem,
    xsmall : 5.0rem
);
// Heights
$heights: (
    xlarge : 50rem,
    large  : 30rem,
    medium : 20rem,
    small  : 10rem,
    xsmall : 5.0rem
);

/****************************************************
*                     Buttons                       *
****************************************************/

// Background-Colors Buttons //
$btn-bg-color-standard     : hsl(0, 0%, 96%);
$btn-bg-color-expandable   : hsl(69, 35%, 82%);
$btn-bg-color-link         : hsl(39, 78%, 47%);
$btn-bg-color-information  : hsl(0, 0%, 92%);
$btn-bg-color-warning      : hsl(355, 71%, 38%);
$btn-bg-color-main         : hsl(210, 100%, 20%);

// Font-Colors Buttons //
$btn-font-color-standard   : hsl(0, 0%, 61%);
// Border Button
$btn-border-radius-default : 0.2rem;
$btn-border-default        : 0.2rem;
// Display Button
$btn-margin-default        : 1rem;
// Font Button
$btn-font-size-default     : 1.6rem;
$btn-width-default         : 40rem;
$btn-font-weight-default   : 400;

/****************************************************
*                     Drop zones Area               *
****************************************************/

// Border Drop Zone
$drop-zone-border-radius-default : 0.2rem;
$drop-zone-border-width-default  : 0.2rem;
$drop-zone-border-style-default  : dashed;
$drop-zone-border-color-default  : hsl(30, 11%, 20%);

// Colors Drop Zone
$drop-zone-main-color            : hsl(213, 59%, 61%);
$drop-zone-upload-color          : hsl(28, 67%, 52%);
$drop-zone-color-completed       : hsl(42, 82%, 61%);
// Margin Drop Zone
$drop-zone-margin-default        : 1rem;
// Font Drop Zone
$drop-zone-font-size-default     : 1.7rem;
$drop-zone-font-weight-default   : 500;
// Display Drop Zone
$drop-zone-width-default         : 30rem;
$drop-zone-heigh-default         : 10rem;
/****************************************************
*                     Input FILE                    *
****************************************************/
$input-file-width-default        : 6rem;
$input-file-height-default       : 1rem;
$input-font-size-default         : 1.3rem;
$input-padding-default           : 0.3rem 0rem;
/****************************************************
*                     Image Card                    *
****************************************************/
// Display
$image-card-width-default        : 50rem;
$image-card-padding-default      : 5rem;
/****************************************************
*                     Error                         *
****************************************************/
$error-message-color-default     : hsl(338, 100%, 50%);
/****************************************************
*                     Header                        *
****************************************************/
// Color
$header-color-background-default  : hsl(0, 0%, 100%);
$header-color-default             : hsl(0, 5%, 20%);
$header-color-hover-default       : hsl(0, 8%, 85%);
$header-font-weight-default       : 500;
/****************************************************
*                     Avatar                        *
****************************************************/
$avatar-padding-default          : 5rem;
$avatar-width-default            : 12rem;
$avatar-height-default           : 12rem;
$avatar-font-size-default        : 1rem;
/****************************************************
*                     Articles ADMIN                *
****************************************************/
$article-admin-width-default            : 100%;
$article-admin-height-default           : 7rem;
$article-admin-font-size-default        : 1rem;
/****************************************************
*                     Fonts                         *
****************************************************/

// Font-styles
$primary-fonts-family   : ('Helvetica', 'Arial', sans-serif);
$secondary-fonts-family : ('Fira Sans', sans-serif);

// Font-sizes
$font-sizes: (
  xlarge     : 3.5rem,
  large      : 3.0rem,
  medium     : 1.6rem,
  small      : 1.2rem,
  xsmall     : 0.8rem
);
// Font-weights
$font-weights: (
  veryThick  : 800,
  thick      : 700,
  medium     : 600,
  thin       : 500,
  veryThin   : 400
);
