// Fonts-Families
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,800&display=swap');


html {
    // Permettre d'utiliser les em en base de 10. Ne pas enlever.
    color:              black;
    font-family:        $secondary-fonts-family;
    // font-size:          62.5%;
}

body {
  background-color:   white;
}

span {
    cursor: pointer;
}

input {
   &::-moz-placeholder {  /* Firefox 19+ */
     font-size: 1.5rem;
     font-weight: 500;
   }
}

header {
  @include bg-gradient(to top, $widget-top-color, darken($widget-top-color, 5%));
  color:          #6b717f;
}
// input {
//   margin: 1rem;
//   text-align: center;
//     &:hover {
//
//     }
//     &::-webkit-input-placeholder {
//       text-align: center;
//       font-size: 1rem;
//       font-weight: 600;
//     }
//     &:-moz-placeholder { /* Firefox 18- */
//       text-align: center;
//       font-size: 1rem;
//       font-weight: 600;
//     }
//     &::-moz-placeholder {  /* Firefox 19+ */
//       text-align: center;
//       font-size: 1rem;
//       font-weight: 600;
//     }
//     &:-ms-input-placeholder {
//       text-align: center;
//       font-size: 1rem;
//       font-weight: 600;
//     }
// }
//
// a {
//   font-size: 2rem;
//   text-decoration: none;
//   color: white;
//   transition: color ease-out;
//     &:hover {
//       color: rgb(246, 226, 255);
//       font-weight: 600;
//     }
// }

// textarea {
//   margin: 1rem;
//   text-align: center;
//     &::-webkit-input-placeholder {
//       text-align: center;
//       font-size: 2rem;
//       font-weight: 600;
//     }
//     &:-moz-placeholder { /* Firefox 18- */
//       text-align: center;
//       font-size: 2rem;
//       font-weight: 600;
//     }
//     &::-moz-placeholder {  /* Firefox 19+ */
//       text-align: center;
//       font-size: 2rem;
//       font-weight: 600;
//     }
//     &:-ms-input-placeholder {
//       text-align: center;
//       font-size: 2rem;
//       font-weight: 600;
//     }
// }
